{% include "core/navbar.html" %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>C5 LML Game Forum</title>
</head>

<body class="purple-900">

    <!-- The Carousel part -->
     {% if top1 %}
    <div id="carouselWrapper" style="width: 500px; margin: 0 auto;">
    <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
    
          <div class="carousel-item active" data-bs-interval="2000">
            <div class="card gray-900" style="width: 30rem;">
                <img src={{ top1.key_art.url }} class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title text-light">{{ top1.name }}</h5>
                  <p class="d-inline-flex gap-1">
                    <button class="btn cyan-700" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                      Learn more
                    </button>
                  </p>
                  <div class="collapse" id="collapseExample">
                    <div class="card card-body gray-900 text-light">
                      {{ top1.description }}
                    </div>
                  </div>
    
                </div>
              </div>
          </div>

          {% for forum in top2_to_top5 %}
          <div class="carousel-item" data-bs-interval="2000">
            <div class="card gray-900" style="width: 30rem;">
                <img src={{ forum.key_art.url }} class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-light">{{ forum.name }}</h5>
                  <p class="d-inline-flex gap-1">
                    <button class="btn cyan-700" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                      Learn more
                    </button>
                  </p>
                  <div class="collapse" id="collapseExample">
                    <div class="card card-body gray-900 text-light">
                      {{ forum.description }}
                    </div>
                  </div>
    
                </div>
              </div>
          </div>
          {% endfor %}
        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
    {% endif %}
      
    <!-- The leaderboard previw: scrollable wrapper -->
    <div 
    data-bs-spy="scroll" data-bs-target="#navbar-example2" data-bs-root-margin="0px 0px -40%" data-bs-smooth-scroll="true" class="scrollspy-example purple-900 p-3 rounded-2" tabindex="0"
    style="max-width: 1300px; margin: 100px auto 20px auto; overflow-y: auto; max-height: 500px;"
    >
    
    <!-- The leaderboard preview: list group part -->
    <ul class="list-group red-900">

        <!-- Titles of the previvew -->
        <div class="container mt-3">
            <div class="d-flex align-items-center position-relative">      
              <div class="fw-bold text-light fs-4">Game Name</div>
              <div class="fw-bold text-light fs-4 position-absolute" style="left: 70%; transform: translateX(-50%);">
                Price
              </div>
              <div class="ms-auto fw-bold text-light fs-4">Popularity</div>
            </div>
          </div>
        
        <!-- Forums List-->
         {% for forum in top100 %}
        <li class="list-group-item red-900" style="border-color: black;">
            <div style="display: flex; justify-content: space-between; align-items: center; position: relative;">
        
                <a href="{% url 'forum:forum' forum.id %}" style="display: flex; align-items: center; text-decoration: none;">
                    <img src={{ forum.key_art.url }} width="160" height="90" style="margin-right: 8px;">
                    <span style="font-size: 18px; color: gray;">{{ forum.name }}</span>
                </a>
        
                <span style="
                    position: absolute;
                    left: 70%;
                    transform: translateX(-50%);
                    font-size: 18px;
                    color: gray;
                ">${{ forum.price }}</span>
        
                <span style="font-size: 18px; color: gray;">{{ forum.popularity }}</span>
            </div>
        </li>

        {% endfor %}
        
     
    </div>

</body>
</html>


