<!-- The navigation bar, expected to display above all the pages -->

{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load static %}

<link rel="stylesheet" href="{% static 'css/colors.css' %}">

<nav class="navbar navbar-expand-lg indigo-800 navbar-dark">
    <div class="container-fluid">
        <nav class="navbar indigo-800 navbar-dark">
            <div class="container-fluid">
              <a class="navbar-brand" href="{% url 'core:home' %}">
                <img src="{% static 'core/images/logo.png' %}" alt="Logo" width="30" height="30" class="d-inline-block align-text-top">
                C5 LML
              </a>
            </div>
          </nav>
      <button class="navbar-toggler indigo-800" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon indigo-800"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item ">
            <a class="nav-link active" aria-current="page" href="{% url 'forum:categories' %}">Categories</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle active" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Leaderboard
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'leaderboard:example' %}">Leaderboard Example 1</a></li>
              <li><a class="dropdown-item" href="#">Leaderboard Example 2</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Leaderboard Example 3</a></li>
            </ul>
          </li>
        </ul>
        
        <a class="nav-link link-light" aria-current="page" href="#"><strong>Log in</strong></a>
      </div>
    </div>
  </nav>